 <section class="my-5" id="contact">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-lg-8 text-center text-white">
                 <h1 class="mt-0">Contactanos!</h1>
                 <hr class="divider my-4 light">
                 <p class="text-white mb-5">"No recordamos días, RECORDAMOS MOMENTOS. Contactanos para cotizaciones !</p>
             </div>
         </div>
         <div class="row text-white">
             <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                 <i class="fas fa-phone fa-3x mb-3 text-secondary"></i>
                 <div>+52 (55) 9154 -8889</div>
             </div>
             <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                 <i class="fas fa-mobile-alt fa-3x mb-3 text-secondary"></i>
                 <div>+52 (55) 4094-8936</div>
             </div>
             <div class="col-lg-4 mr-auto text-center">
                 <i class="fas fa-envelope fa-3x mb-3 text-secondary"></i>
                 <!-- Make sure to change the email address in anchor text AND the link below! -->
                 <a class="d-block text-white" href="mailto:contact@yourwebsite.com">rentatoyeventos1@gmail.com</a>
             </div>
         </div>
     </div>
 </section>
 <div class="container contact-form">
     <div class="contact-image">
         <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
     </div>
     <form onsubmit="mail(); alert('A la brevedad nos comunicaremos contigo');">
         <h3>Envianos un mensaje</h3>
         <div class="row">
             <div class="col-md-6">
                 <div class="form-group">
                     <input type="text" id="txtName" class="form-control" placeholder="Nombre *" value="" required />
                 </div>
                 <div class="form-group">
                     <input type="text" id="txtEmail" class="form-control" placeholder="Email *" value="" required />
                 </div>
                 <div class="form-group">
                     <input type="text" id="txtPhone" class="form-control" placeholder="Télefono *" value="" required />
                 </div>

             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <textarea id="txtMsg" class="form-control" placeholder="¿Qué te gustaria cotizar? *" required style="width: 100%; height: 150px;"></textarea>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group">
                     <center><input type="submit" id="btnSubmit" class="btnContact" value="Enviar Mensaje" /></center>
                 </div>
             </div>
         </div>
     </form>
 </div>
 <footer class="page-footer font-small mdb-color pt-4 bg-light">
     <!-- Footer Links -->
     <div class="container text-center text-md-left ">
         <!-- Grid row -->
         <div class="row d-flex align-items-center bg-light">

             <!-- Grid column -->
             <div class="col-md-7 col-lg-8">

                 <!--Copyright-->
                 <p class="text-center text-md-left">© 2019 Copyright:
                     <a href="/">
                         <strong> rentatoy.com</strong>
                     </a>
                 </p>

             </div>
             <div class="col-md-5 col-lg-4 ml-lg-0">
                 <div class="text-center text-md-right">
                     <p class="d-inline">Siguenos en:</p>
                     <a rel="nofollow" href="https://www.facebook.com/rentatoymx/?epa=SEARCH_BOX" class="btn-floating btn-lg rgba-white-slight">
                         <i class="fab fa-facebook"></i>
                     </a>
                 </div>
             </div>
         </div>
     </div>
 </footer>

 <!-- Bootstrap core JavaScript -->
 <script src="/assets/vendor/jquery/jquery.min.js"></script>
 <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Plugin JavaScript -->
 <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

 <!-- Custom scripts for this template -->
 <script src="/assets/js/creative.js"></script>

